@model MHealth.Models.DTO.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-10">
                <form asp-action="Login" method="post">
                    <div class="card">
                        <div class="card-header">
                            <p class="subtitle">Login</p>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <input type="text" class="form-control" asp-for="Username" placeholder="Username">
                                <span asp-validation-for="Username" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <span>Don't have an account?<a asp-controller="User" asp-action="Signup" style="text-decoration:none">SignUp</a></span>

                            @*@if (TempData["msg"] != null)
                            {
                            <div class="alert alert-danger" role="alert">
                            @TempData["msg"]
                            </div>
                            }*@
                        </div>
                        <div class="card-footer">

                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2">
                @*<button type="submit" class="btn btn-success">Google</button>*@
                <form method="post" asp-action="GoogleLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @*@if (Model.ExternalLogins != null)
                        {

                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" style="width:auto"
                                name="provider" value="@provider.Name"
                                title="Login using your @provider.DisplayName account">
                                    @provider.DisplayName
                                </button>
                            }
                        }*@
                        <button type="submit" class="btn btn-primary" style="width:auto"
                                name="provider" value="Google"
                                title="Login using your Google account">
                            Google
                        </button>
                       

                    </div>
                </form>
                @*<a class="btn btn-success" asp-action="GoogleLogin">Google</a>*@
            </div>
        </div>
        
    </div>

</div>

